.country {
    border: 5px solid rgb(99, 12, 12);
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(222, 229, 236);
    text-align: center;



}

.countries {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}